@using webapp.Components.Create
@using webapp.Components

<div class="dashboard-grid">
    <div class="dashboard-item" data-bs-toggle="modal" data-bs-target="#eventModal">
        <i class="bi bi-calendar-event dashboard-icon"></i>
        <h3 class="dashboard-title">Opret Event</h3>
    </div>
    <ModalWrapper ModalId="eventModal" ModalSize="modal-xl">
        <CreateEvent/>
    </ModalWrapper>

    <div class="dashboard-item" data-bs-toggle="modal" data-bs-target="#taskModal">
        <i class="bi bi-list-task dashboard-icon"></i>
        <h3 class="dashboard-title">Opret Opgave</h3>
    </div>
    <ModalWrapper ModalId="taskModal" ModalSize="modal-xl" ShowFooter="true">
        <CreateTask/>
    </ModalWrapper>

    <div class="dashboard-item" data-bs-toggle="modal" data-bs-target="#locationModal">
        <i class="bi bi-geo-alt dashboard-icon"></i>
        <h3 class="dashboard-title">Oversigt over lokationer</h3>
    </div>
    <ModalWrapper ModalId="locationModal">
        <CreateLocation/>
    </ModalWrapper>

    <div class="dashboard-item" data-bs-toggle="modal" data-bs-target="#adminModal">
        <i class="bi bi-gear dashboard-icon"></i>
        <h3 class="dashboard-title">Administration Panel</h3>
    </div>
    <ModalWrapper ModalId="adminModal" ModalSize="modal-xl">
        <AdminComponent/>
    </ModalWrapper>
</div>
