.card {
    padding: 20px;
    width: 100%;
    background-color: #ae1010;
    border-radius: 5px;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

.form-control {
    background-color: #ffffff;
    color: #333333;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn.btn-primary {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: #0056b3;
}

.user-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.user-checkbox label {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #f0f0f0; /* Lys grå baggrund */
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-checkbox label:hover {
    background-color: #e0e0e0; /* Mørkere grå ved hover */
}

.user-checkbox input[type="checkbox"] {
    margin-right: 10px;
    width: 10px; /* Indstil bredde */
    height: 10px; /* Indstil højde */
    transform: scale(1.5); /* Skaler checkboksen op */
}          