<div class="content">
    <div id="news" class="news-box">
        <h3>NYHEDER</h3>
        <p>Kantinens nye app! Velkommen</p>
        <p>
            EAAA-kantinens nye app gør det nemt at planlægge events, booke arrangementer og
            skabe overblik over kommende aktiviteter. En praktisk løsning, der bringer struktur
            og bekvemmelighed til dine planer.
        </p>
    </div>
</div>
