.hacker-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hacker-text {
  font-family: monospace;
  font-weight: bold;
  font-size: 4em;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
}
