@page "/dashboard"
@using webapp.Components

<div class="top-row ps-3 navbar navbar-dark custom-navbar" style="border: 1px solid #ffffff; border-radius: 5px;">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand text-black d-flex align-items-center" href="">
            <span style="font-size: 1.25rem; color: white; font-weight: bold;">MADKISTEN</span>
        </a>

        <div class="d-flex align-items-center">
            <button class="btn-eaa" @onclick="HandleLogout">Log ud</button>
        </div>
    </div>
</div>

<div class="content">

    <div id="News" class="news-box">
        <h1>NYHEDER</h1>
        <p>Kantinens nye app! Velkommen</p>
        <p>
            EAAA-kantinens nye app gør det nemt at planlægge events, booke arrangementer og
            skabe overblik over kommende aktiviteter. En praktisk løsning, der bringer struktur
            og bekvemmelighed til dine planer.
        </p>
    </div>
    
    <div>
        <CalenderTable/>
    </div>
    
</div>



@code {
[Inject] private NavigationManager Navigation { get; set; }

private void HandleLogout()
{
// Perform logout logic here
Console.WriteLine("Logged out!");

// Redirect to the login page
Navigation.NavigateTo("/");
}


}