@page "/dashboard"
@using webapp.Components
@using Microsoft.AspNetCore.Components
@using webapp.Service.LoginService

 <div class="top-row ps-3 navbar navbar-dark custom-navbar">                                                    
     <div class="container-fluid d-flex justify-content-between">                                                                                                      
         <a class="navbar-brand text-black d-flex align-items-center" href="">                                                                                         
             <span style="font-size: 3rem; color: #3a646dff; font-weight: lighter; margin-left: -28px;">MAD.EAAA</span>                                                                       
         </a>                                                                                                                                                          
                                                                                                                                                                       
         <div class="d-flex align-items-center">
             <button class="btn-profile" style=" "data-bs-toggle="modal" data-bs-target="#profileModal">Min Profil</button>
             <button class="btn-eaa" @onclick="@(async () => await HandleLogout())">Log ud</button> <!-- Knap til at logge ud -->
         </div>
     </div>

     <!-- Profile Modal -->
     <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                     <EditProfile />
                 </div>
             </div>
         </div>
     </div>
 </div>                                                                                                                                                                
                                                                                                                                                                       
 <div class="content">                                                                                                                                                 
                                                                                                                                                                       
     <div id="news" class="news-box">                                                                                                                                  
         <h3>NYHEDER</h3> <!-- Overskrift for nyhedssektionen -->                                                                                                      
         <p>Kantinens nye app! Velkommen</p> <!-- Beskrivelse af nyheder -->                                                                                           
         <p>                                                                                                                                                           
             EAAA-kantinens nye app gør det nemt at planlægge events, booke arrangementer og                                                                           
             skabe overblik over kommende aktiviteter. En praktisk løsning, der bringer struktur                                                                       
             og bekvemmelighed til dine planer.                                                                                                                        
         </p>                                                                                                                                                          
     </div>

     <div class="link-content">
         <button type="button" class="Create-Event-Box" data-bs-toggle="modal" data-bs-target="#eventModal">
             Opret Event
         </button>
         <!-- Event Modal -->
         <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-xl">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                         <CreateEvent/>
                     </div>
                 </div>
             </div>
         </div>

         <button type="button" class="Create-Event-Box" data-bs-toggle="modal" data-bs-target="#taskModal">
             Opret Opgave
         </button>
         <!-- Task Modal -->
         <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-xl">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                         <CreateTask/>
                     </div>
                 </div>
             </div>
         </div>



         <button type="button" class="Create-Event-Box" data-bs-toggle="modal" data-bs-target="#locationModal">
             Oversigt over lokationer
         </button>
         <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                         <CreateLocation/>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     
                                                                                                                                                                       
 </div>

@code {                                                                                                                                                               
     [Inject] 
     private ILoginService LoginService { get; set; }

     protected override async Task OnInitializedAsync()
     {
         // Check if user is authenticated
         if (!await LoginService.IsLoggedIn())
         {
             Navigation.NavigateTo("/");
         }
     }
     [Inject] private NavigationManager Navigation { get; set; } // Dependency injection af NavigationManager til at håndtere navigation                               
                                                                                                                                                                       
     // Metode til at håndtere logout-logik                                                                                                                            
     private async Task HandleLogout()                                                                                                                                       
     {                                                                                                                                                                 
         await LoginService.Logout();
         Navigation.NavigateTo("/");                                                                                                                                   
     }                                                                                                                                                                 
 } 
