@page "/dashboard"
@using webapp.Components.Dashboard
@using webapp.Service.LoginService
@inject NavigationManager NavigationManager

<div class="content">
    <HeroComponent />
    <IconGridComponent />
    <ManageItemsComponent />
</div>

@code {
    [Inject]
    private ILoginService LoginService { get; set; }

        protected override async Task OnInitializedAsync()
            {
                // Check if user is authenticated
                if (!await LoginService.IsLoggedIn())
                {
                    Navigation.NavigateTo("/");
                }
            }

            // Dependency injection af NavigationManager til at håndtere navigation  
    [Inject] private NavigationManager Navigation { get; set; }                              
    } 
