@page "/dashboard"
@using webapp.Components.Dashboard
@using webapp.Service.LoginService
@inject NavigationManager NavigationManager
@inject ILoginService LoginService

<div class="content">
    <HeroComponent />
    <IconGridComponent />
    <ManageItemsComponent />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Check if user is authenticated
        if (!await LoginService.IsLoggedIn())
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
