@page "/EventViewer"
@using webapp.Service
@inject IEventService eventService
@inject ITaskService taskService
@inject ITaskService serviceserver

<h3>Event Viewer</h3>

@if (events == null)
{
    <p>Loading events...</p>
}
else if (!events.Any())
{
    <p>No events found.</p>
}
else
{
    <ul>
        @foreach (var eventItem in events)
        {
        <li>@eventItem.Title</li>
        }
    </ul>
}

@code {
    private List<TaskEvent> events;

    protected override async Task OnInitializedAsync()
    {
        events = await eventService.GetAllEventsAsync();
    }
}