@page "/EventViewer/{EventId:int}"

<h3>EventViewer</h3>

<h3>@EventId</h3>

@code {
    
    [Parameter]
    public int? EventId { get; set; }
    
    // view the event info
    
    // view the tasks individually Stacked
    
    // access each task (modal?)
}