@page "/"
@using webapp.Components
@using webapp.Service.LoginService
@inject ILoginService LoginService

<div class="container mt-4">
    
    @if (currentUser != null)
    {
        <div class="alert alert-info">
            @if (currentUser.Roles.Contains(UserRole.Administrator))
            {
                <span>Administrator</span>
                <!-- COMPONENTS HERE -->
            }
            else if (currentUser.Roles.Contains(UserRole.Manager))
            {
                <span>Manager</span>
                <!-- COMPONENTS HERE -->
            }
            else if (currentUser.Roles.Contains(UserRole.CoWorker))
            {
                <span>Medarbejder</span>
                <!-- COMPONENTS HERE -->
            }
        </div>
    }
    
    @if (!showRegister)
    {
        <LoginOle Target="dashboard"/>

        <div class="text-center mt-3">
            <p>
                Ingen konto endnu?
                <a @onclick="ToggleRegister" class="text-primary" style="cursor: pointer;">Opret her</a>
            </p>
        </div>
    }
    else
    {
        <div class="mb-3">
            <button class="btn btn-link" @onclick="ToggleRegister" style="width: 125px; height: 50px; border-radius: 5px; background-color: #0c63e4; color: white; font-size: 10px">← Tilbage til login</button>
        </div>
        <CreateUser/>
    }
</div>

@code {
    private bool showRegister = false;
    private User? currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await LoginService.GetCurrentUser();
    }

    private void ToggleRegister()
    {
        showRegister = !showRegister;
    }
} 
