@page "/"
@using System.Timers
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<div id="vanta-background" style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: -1; background: transparent;"></div>

<div class="hacker-container">
    <div id="hackerText" class="hacker-text"></div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeVantaEffect();
        }
    }


    private async Task InitializeVantaEffect()
    {
        var hackerElement = await JSRuntime.InvokeAsync<IJSObjectReference>("document.getElementById", "hackerText");
        await JSRuntime.InvokeVoidAsync("initTextScramble", hackerElement);
        
        var element = await JSRuntime.InvokeAsync<IJSObjectReference>("document.getElementById", "vanta-background");
        await JSRuntime.InvokeVoidAsync("VANTA.HALO", new object[]
        {
            element,
            new
            {
                mouseControls = true,
                touchControls = true,
                gyroControls = false,
                minHeight = 200.00,
                minWidth = 200.00,
                baseColor = 0x0,
                backgroundColor = 0x0,
                amplitudeFactor = 2.30,
                size = 2.50
            }
        });
    }
}
