@page "/"
@using webapp.Components
@using webapp.Components.Create
@using webapp.Service.LoginService
@inject ILoginService LoginService

<div class="container mt-4">
    
    @if (currentUser != null)
    {
        <div class="alert alert-info" style="margin-left: 30px; margin-right: 30px;">
            <h4 class="alert-heading">Du er allerede logget ind</h4>
            <p>Du er logget ind som,
                @if (currentUser.Roles.Contains(UserRole.Administrator))
                {
                    <span>administrator</span>
                }
                else if (currentUser.Roles.Contains(UserRole.Manager))
                {
                    <span>kantineleder</span>
                }
                else if (currentUser.Roles.Contains(UserRole.CoWorker))
                {
                    <span>medarbejder</span>

                }
            </p>
            <a href="/dashboard" class="btn btn-primary" style="margin-top: 10px;">Gå til forside</a>
        </div>
    }
    
    @if (!showRegister)
    {
        <LoginComponent Target="dashboard"/>
        <div class="text-center mt-3">
            <p>
                Endnu ingen konto?
                <a @onclick="ToggleRegister" class="text-primary" style="cursor: pointer;">Opret dig her</a>
            </p>
        </div>
    }
    else
    {
        <div class="mb-3" style="width: 100%; margin-right: 30px; margin-left: 30px">
            <button class="btn btn-linzk" @onclick="ToggleRegister" style="width: 15%; height: 40px; border-radius: 5px; background-color: #0c63e4; color: white; font-size: 11px">← Tilbage til login</button>
        </div>
        <CreateUser/>
    }
</div>

@code {
    private bool showRegister = false;
    private User? currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await LoginService.GetCurrentUser();
    }

    private void ToggleRegister()
    {
        showRegister = !showRegister;
    }
} 
