@page "/test"

<h3>Updated Test Page</h3>

<img src="/images/manatee.jpg" alt="Manatee Image">

<button class="btn btn-primary" @onclick="IncrementCount">Click me if you dare!</button>

<p>Current count: @currentCount</p>

<p> Hej </p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 2;
    }
}
